<% @title = "トップページ" %>
<h1><%= @title %></h1>

<tr><th>chain: </th><td></td>
<% if @network == "bitcoin" %><%= "mainnet" %>
<% elsif @network == "test" %><%= "testnet" %>
<% else %><%= @network %><% end %></td></tr>
