<% @title = "ウォレット" %>
<h1><%= @title %></h1>

<br>
<br>

<% if !@listaddressgroupings %>
  <td>ウォレットにはアドレスがありません</td>
<% else %>
<table border="1">
  <thead>
    <tr>
      <th>アドレス</th>
      <th>残高</th>
    </tr>
  </thead>

  <tbody>
        <% for m in 0..@listaddressgroupings.length-1 %>
            <% for n in 0..@listaddressgroupings[m].length-1 %>
                <tr>
                    <td><%= link_to @listaddressgroupings[m][n][0], addressinfo_path(@listaddressgroupings[m][n][0]) %></td>
                    <td><%= @listaddressgroupings[m][n][1] %></td>
                </tr>
            <% end %>
        <% end %>
  </tbody>
</table>
<% end %>
